<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wizz.mapper.BookMapper">
    <insert id="borrow">

        insert into borrow (book_id, user_id)
        values (#{book_id}, #{user_id})

    </insert>
    <delete id="returnBook">
        delete
        from borrow
        where book_id = #{book_id}
          and #{user_id}
    </delete>


    <select id="getBorrowInfo" resultType="com.wizz.vo.BorrowInfoVo">


        select book_id, user_id
        from borrow
        where book_id = #{book_id}
          and user_id = #{user_id}

    </select>
    <select id="getBorrower" resultType="com.wizz.dto.UserBorrowInfoDto">
        select distinct u.user_id  user_id,
                        u.username username,
                        d.name     dept_name,
                        b.creat_time date
        from user u
            left join borrow b
        on u.user_id = b.user_id
            left join dept d on d.id = u.dept_id
        where b.book_id = #{book_id}
    </select>
</mapper>